.articleImg{
    width: 100%;
    max-height: 100%;
}
.articleHeader{
    padding-top: 16px;
    font-size: 48px;
    font-weight: bold;
    line-height:1;
}
.articleItem{
    margin-top: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
    background-color: white;
    display: flex;
    height: 250px;
    max-height: 300px;
    
}
.articleRightSide{
    padding-left: 16px;
    padding-right: 16px;
    height: 250px;
}
.articleText{
    margin-top: 16px;
    min-height: 110px;
}
.articleButton{
    margin-top: 8px;
    bottom: 0px;
    text-align: right;
}